.Container{
    background-color: antiquewhite;
    overflow-x: hidden;
}
/*debut du style du header*/
.special_font{
    font-family: 'Playball', cursive;
    font-size: 2.5em;
}
.right{
    position: relative;
    left: 60% ;
    top: -40px;
}
.left{
    border-bottom: 1px dashed #000;
    padding-bottom: 10px;
}
.nav{
    padding: 5px 20px;
    height: 100px;
}
.nav_links > span{
    padding: 30px;
    font-size: 1.2em;
}
.nav_links > span:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
    color: rgb(221, 78, 78);
}
/*debut du style du corps*/
.central{
    margin: 5px 40px 10px;
}
.footer_img{
    position: relative;
    top: -45px;
    background-color: rgba(0, 0, 0, 0.464);
    color: white;
    height: 25px;
    vertical-align: middle;
    padding-top: 5px;
}
.footer_img > span:first-child{
    position: relative;
    left: 780px;
    display: inline-block;
    background: linear-gradient(white, red);
    height: 20px;
    width: 100px;
    padding-top: 5px;
    border-radius: 5px;
    top: -3px;
    cursor: pointer;
    padding-left: 10px;
}
.left_header{
    margin: 5px 40px 10px;
}
.bloc_left{
    display: inline-block;
    width: 69%;
}
.bloc_right{
    display: inline-block;
    width: 30%;
    background-color: red;
    position: relative;
    top: -50px;
}
.left_header > span{
    position: relative;
    top: -15px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
}
.bloc_right{
    background-color: rgb(139, 129, 129);
    color: white;
    border-radius: 5px;
    text-align: center;

}
.bloc_right > span{
    letter-spacing:3px;
    text-transform: uppercase;
}
.bloc_right>p{
    font-size: 18px;
    text-align: left;
    margin: 5px 20px;
}
.bloc_img{
    margin-top: 10px;
    margin-bottom: 20px;
}
.social{
    margin-top: 15px;
    margin-bottom: 20px;
}
.social > div{
    display: inline-block;
    cursor: pointer;
    margin: 0px 10px;
}
.border{
    border-bottom: 1px dashed black;
    margin: -20px 40px 0px;
}
/*Le footer*/
.footer_txt{
    margin-left: 42px;
}
ul > li{
    list-style: none;
}
ul > li::before{
    content : "\0027BC";
}
.footer_container{
    display: inline-block;
}
.footer_container:nth-child(1){
    margin-left: 40px;
}
.footer_container:nth-child(2){
    margin-left: 70px;
}
.footer_container:nth-child(2) > div{
    display: inline-block;
    margin: 0px 5px;
}
.footer_container:nth-child(3){
    margin-left: 120px;
}
.footer_container:nth-child(4){
    margin-left: 120px;
}
.dropdown_simulator{
    position: relative;
    left: 760px;
    top: -3px;
    margin-left: 3px;
}
.reverse_play{
    position: relative;
    left: -121px;
    color: rgb(139, 129, 129);

}